In [1]:
import pandas as pd
import numpy as np

In [7]:
sem1Parent = pd.read_excel('/Users/sahilbavishi/Desktop/Edi/hackTheBurgh/HackTheBurgh25/data/41 TT Parent Data - Sem1 23-24.xlsx', sheet_name='Sem1 Data')
sem1Child = pd.read_excel('/Users/sahilbavishi/Desktop/Edi/hackTheBurgh/HackTheBurgh25/data/42 TT Child Data - Sem1 23-24.xlsx', sheet_name='Sem1 TT')

sem2Parent = pd.read_excel('/Users/sahilbavishi/Desktop/Edi/hackTheBurgh/HackTheBurgh25/data/43 TT Parent Data - Sem2 23-24.xlsx', sheet_name='Sem2 Data')
sem2Child = pd.read_excel('/Users/sahilbavishi/Desktop/Edi/hackTheBurgh/HackTheBurgh25/data/44 TT Child Data - Sem2 23-24.xlsx', sheet_name='Sem2 TT')

In [ ]:
### PLEASE READ
'''
We can use the parent data, and use it for unique courses. Which will be embedded. 
We can map these embeddings to the MODULE ID.

Then we find predictions.

Use these predictions and find the mapped MODULE ID.

Use module ID in child data to ensure all constraints are met. There is timing, weeks and location of different lectures and tutorials there.

Done. So Easy :)

'''

'\nWe can use the parent data, and use it for unique courses. Which will be embedded. \nWe can map these embeddings to the MODULE ID.\n\nThen we find predictions.\n\nUse these predictions and find the mapped MODULE ID.\n\nUse module ID in child data to ensure all constraints are met. There is timing, weeks and location of different lectures and tutorials there.\n\nDone. So Easy :)\n\n'

In [13]:
sem1Parent.head()

,Name of Department,Host Key of Module of Activity Or Parents,Name of Module of Activity Or Parents,Name of Type,Activity ID
0,Deanery of Biomedical Sciences,MSBM08002_SS1_SEM1,Medical Sciences 1.,*Workshop,#SPLUS03A0D8
1,Deanery of Biomedical Sciences,MSBM08002_SS1_SEM1,Medical Sciences 1.,*Workshop,#SPLUS03A0DA
2,Deanery of Biomedical Sciences,MSBM10011_SS1_YR,Medical Sciences 4,*Tutorial,#SPLUS03A0E8 002
3,Deanery of Biomedical Sciences,MSBM10011_SS1_YR,Medical Sciences 4,*Tutorial,#SPLUS03A0E8 001
4,Deanery of Biomedical Sciences,MSBM10011_SS1_YR,Medical Sciences 4,*Tutorial,#SPLUS03A0EA 002

In [12]:
sem1Child.head(5)

,Name of Department,Module ID,Name of Module,Name of Type,Activity ID,Name,Day,Start Time,End Time,Whole-Class/Subgroup,Size,Real Size,Duration,Weeks,Number of weeks,Room,Building,Campus
0,Deanery of Biomedical Sciences,MSBM08002_SS1_SEM1,Medical Sciences 1.,*Workshop,#SPLUS03A0D8,Medical Sciences 1 - Workshop/A,Tue,10:00:00,13:00:00,NaN,20,18,6,"Sem1 wk1-Sem1 wk8, Sem1 wk10-Sem1 wk11",10,OC_Teaching Room 05,Old College,*Central
1,Deanery of Biomedical Sciences,MSBM08002_SS1_SEM1,Medical Sciences 1.,*Workshop,#SPLUS03A0DA,Medical Sciences 1 - Workshop/B,Tue,10:00:00,13:00:00,NaN,20,16,6,"Sem1 wk1-Sem1 wk8, Sem1 wk10-Sem1 wk11",10,7-8CS_1.03,7-8 Chambers Street,*Central
2,Deanery of Biomedical Sciences,MSBM10011_SS1_YR,Medical Sciences 4,*Tutorial,#SPLUS03A0E8 002,Medical Sciences 4 - Tutorial/01,Wed,11:00:00,13:00:00,NaN,15,14,4,Sem1 wk11,1,MST_Teaching Room 08 (1.420) - Doorway 3,"Medical School, Teviot",*Central
3,Deanery of Biomedical Sciences,MSBM10011_SS1_YR,Medical Sciences 4,*Tutorial,#SPLUS03A0E8 001,Medical Sciences 4 - Tutorial/01,Wed,09:00:00,11:00:00,NaN,15,14,4,Sem1 wk2-Sem1 wk10,9,MST_Teaching Room 08 (1.420) - Doorway 3,"Medical School, Teviot",*Central
4,Deanery of Biomedical Sciences,MSBM10011_SS1_YR,Medical Sciences 4,*Tutorial,#SPLUS03A0EA 002,Medical Sciences 4 - Tutorial/02,Wed,11:00:00,13:00:00,NaN,15,13,4,Sem1 wk11,1,MST_Teaching Room 13 (01M.473) - Doorway 3,"Medical School, Teviot",*Central